.cordiv {
  position: absolute;
  background-color: white;
  bottom: 10%;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  align-items: center;
  text-align: center;
}